<section id="affliations" class="py-5">
  <div class="conatiner-xl" style="padding-left: 5%;padding-right:5%">
    <div class="row pt-3">
      <div class="col-lg-12">
        <h2 class="section-heading text-center">Affliations</h2>
      </div>
    </div>
    <div class="row py-3 justify-content-center align-items-center">
      <div class="col-2" style="width: fit-content;">
        <div class="p-5 rounded-circle" style="width: fit-content;background-color:bisque;">
          <img
            width="100em"
            src="/img/affliation/climbing-wall.png"
            alt="Climbing Logo" />
        </div>
        <h4 class="my-3 fw-semibold" style="width: fit-content;">STARCS society</h4>
      </div>
    </div>

  </div>
</section>