<section id="events" class="py-5">
  <div class="conatiner px-5">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading">Events</h2>
      </div>
    </div>
    <div class="row" id="beginner_workshops">
      <div class="col">
        <h5 class="section-heading" >Beginner Workshops</h3>
          <span>Are you ready to embark on an exciting adventure and reach new heights? Our beginner workshops in basic
            rock climbing and crack climbing are the perfect introduction for enthusiastic individuals eager to explore
            the world of climbing. Whether you're a complete novice or have dabbled in climbing before, our workshops
            are designed to cater to all ages, from kids to older adults.</span>

          <div class="row py-5 align-items-center justify-content-center gy-5">
            <div class="col-md-4 col-12">
              <div class="card mx-auto text-center" style="width: 20rem;">
                <img src="/img/events/brc.jpg" style="height: 20rem" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title fon">Basic Rock Climbing Workshop</h5>
                  <p class="card-text" style="font-size: 14px">Our Basic Rock Climbing Workshop is your gateway to the
                    thrilling sport of rock climbing. In this workshop, we cover everything you need to know to get
                    started.</p>
                  <a href="#upcoming_events" class="btn btn-primary px-4">Join</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-12">
              <div class="card mx-auto text-center" style="width: 20rem;">
                <img src="/img/events/brc.jpg" style="height: 20rem" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title fon">Basic Crack Climbing Workshop</h5>
                  <p class="card-text" style="font-size: 14px">Our Basic Crack Climbing Workshop is your gateway to the
                    thrilling sport of rock climbing. In this workshop, we cover everything you need to know to get
                    started.</p>
                  <a href="#upcoming_events" class="btn btn-primary px-4">Join</a>

                </div>
              </div>
            </div>

          </div>
      </div>
    </div>
    <div class="row" id="rappelling">
      <div class="col">
        <h5 class="section-heading" >Rappelling</h3>
          <span>Welcome to our rappelling event! Whether you're a seasoned adventurer or a newcomer eager to experience
            the thrill of descending a vertical surface, this event promises to be an exhilarating and unforgettable
            experience. Rappelling, also known as abseiling, involves the controlled descent down a rock face or cliff
            using ropes and specialized equipment</span>

          <div class="row py-5 align-items-center justify-content-center gy-5">
            <div class="col-md-4 col-12">
              <div class="card mx-auto text-center" style="width: 20rem;">
                <img src="/img/events/rapplling.jpg" style="height: 20rem" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title fon">Basic Rapelling</h5>
                  <p class="card-text" style="font-size: 14px">Discover the fundamentals of rappelling in our Basic
                    Rappelling event. Ideal for beginners and those looking to refresh their skills, this event covers
                    essential techniques, safety procedures, and proper use of equipment</p>
                  <a href="#upcoming_events" class="btn btn-primary px-4">Join</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-12">
              <div class="card mx-auto text-center" style="width: 20rem;">
                <img src="/img/events/brc.jpg" style="height: 20rem" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title fon">Australian Rapelling</h5>
                  <p class="card-text" style="font-size: 14px">Take your rappelling skills to the next level with our
                    Australian Rappelling event.This unique technique involves descending face-first.Join us for an
                    unforgettable adventure that pushes the boundaries of rappelling.</p>
                  <a href="#upcoming_events" class="btn btn-primary px-4">Join</a>

                </div>
              </div>
            </div>

          </div>
      </div>
    </div>
    <div class="row" id="bsc">
      <div class="col">
        <h5 class="section-heading" >Beginner Sport Climbing</h3>
          <span>Join our Sport Climbing workshops designed for beginners eager to learn the fundamentals of climbing. Our experienced instructors will teach you top rope techniques, lead climbing skills, and essential belaying methods. Gain confidence and proficiency in a supportive and safe environment. Elevate your climbing journey with us!</span>

          <div class="row py-5 align-items-center justify-content-center gy-5">
            <div class="col-md-3 col-12">
              <div class="card mx-auto text-center" style="width: 20rem;">
                <img src="/img/events/top_rope.jpg" style="height: 20rem" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title fon">Top Rope Workshops</h5>
                  <p class="card-text" style="font-size: 14px">Join our Top Roping workshop for beginners, where you'll learn essential climbing and belaying techniques. Gain confidence and skills with guidance from experienced instructors.</p>
                  <a href="#upcoming_events" class="btn btn-primary px-4">Join</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-12">
              <div class="card mx-auto text-center" style="width: 20rem;">
                <img src="/img/events/lead.jpg" style="height: 20rem" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title fon">Lead Climbing Workshops</h5>
                  <p class="card-text" style="font-size: 14px">Join our Lead Climbing workshop designed for beginners, Learn essential lead climbing techniques and safety practices from expert instructors. Build confidence and proficiency in a supportive environment.</p>
                  <a href="#upcoming_events" class="btn btn-primary px-4">Join</a>

                </div>
              </div>
            </div>

            <div class="col-md-3 col-12">
              <div class="card mx-auto text-center" style="width: 20rem;">
                <img src="/img/events/belay.jpg" style="height: 20rem" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title fon">Belay Workshops</h5>
                  <p class="card-text" style="font-size: 14px">Join our Belay workshop to master the critical skill of belaying with confidence and safety from experienced instructors. Ensure your climbing partner's safety and enhance your overall climbing experience.</p>
                  <a href="#upcoming_events" class="btn btn-primary px-4">Join</a>

                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="row" id="asc">
      <div class="col">
        <h5 class="section-heading" >Advanced Sport Climbing</h3>
          <span>Welcome to our Advanced Climbing event! This thrilling event is designed for climbers who want to take their skills to the next level. Join us as we delve into the exciting world of multi-pitch climbing and advanced rope techniques. Our expert instructors will guide you through the complexities of multi-pitch routes, ensuring you gain confidence and competence in handling extended climbs. You'll learn essential rope techniques, including efficient belaying, rappelling, and rope management, equipping you with the knowledge to tackle challenging ascents safely and efficiently</span>

          <div class="row py-5 align-items-center justify-content-center gy-5">
            <div class="col-md-4 col-12">
              <div class="card mx-auto text-center" style="width: 20rem;">
                <img src="/img/events/multi.jpg" style="height: 20rem" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title fon">Multi-Pitch Climbing</h5>
                  <p class="card-text" style="font-size: 14px">Discover the Advanced Climbing event, where expert instructors teach essential multi-pitch climbing and advanced rope techniques. Elevate your skills for tackling challenging ascents with confidence.</p>
                  <a href="#upcoming_events" class="btn btn-primary px-4">Join</a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>