<section id="events" class="py-5">
  <div class="conatiner">
    <div class="row py-3">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Events</h2>
        <h4 class="section-subheading text-muted">Learn about our events and workshops</h4>
      </div>
    </div>
    <div class="row align-items-center justify-content-center gy-5">
      <div class="col-md-3 col-12">
        <div class="card mx-auto text-center" style="width: 18rem;">
          <img
            src="/img/events/rapelling.jpg"
            class="card-img-top"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Rapelling</h5>
            <p class="card-text">The thrilling art of descending down vertical surfaces with control and style. Experience the rush as you descend safely with ropes, harnesses, and skill.</p>
            <a href="#upcoming_events" class="btn btn-primary px-4">Join</a>

          </div>
        </div>
      </div>

      <div class="col-md-3 col-12">
        <div class="card mx-auto text-center" style="width: 18rem;">
          <img
            src="/img/events/beginner-workshop1.jpg"
            class="card-img-top"
            alt="...">
          <div class="card-body">
            <h5 class="card-title ">Beginer climbing workshop</h5>
            <p class="card-text">Embark on your climbing journey with our Beginner's Workshop! No experience necessary – just bring your enthusiasm and we'll provide the rest!</p>
            <a href="#upcoming_events" class="btn btn-primary px-4">Join</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-12">
        <div class="card mx-auto text-center" style="width: 18rem;">
          <img
            src="/img/events/beginner-workshop1.jpg"
            class="card-img-top"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Beginer Lead workshop</h5>
            <p class="card-text">Join our Beginner Lead and Top Rope Workshop! Learn the ropes, literally, as we guide you through the fundamentals of both lead and top rope climbing.</p>
            <a href="#upcoming_events" class="btn btn-primary px-4">Join</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>