<footer>
  <div class="container pt-3">
    <div class="row align-item-center justify-content-center">

      <div class="col-md-4 col-12">
        <ul class="list-inline social-buttons mx-auto ">
          {% for network in site.social %}
            <li class="text-center">
              <a href="{{ network.url }}" class="d-block">
                <i class="fa fa-{{ network.title }}" style="font-size: 30px;"></i>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4 col-12 text-center">
        <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
      </div>
    </div>
  </div>
</footer>