<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-dark fixed-top" data-bs-theme="dark">
  <div class="container-xl bd-gutter flex-wrap flex-lg-nowrap">
    <div class="title d-flex justify-content-between">
      <div>
        <img
          src="/img/logos/logo.jpg"
          class="mx-2"
          alt="Hyderabad climbers logo"
          width="40px" />
        <a class="navbar-brand" href="#">{{ site.title }}</a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarnavDropdown"
        aria-controls=""
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarnavDropdown">
      <ul class="navbar-nav me-auto justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="#about-us">About us</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="activities"
            role="button"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            aria-expanded="false">
            Activities
          </a>
          <ul class="dropdown-menu">
            <li class="dropend">
              <a
                class="dropdown-item dropdown-toggle"
                data-bs-toggle="dropdown"
                data-bs-auto-close="true">Beginners workshops</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="nav-link dropdown-item ps-4 ps-md-3" href="#beginner_workshops">Basic Rock Climbing</a>
                </li>
                <li>
                  <a
                    href=""
                    class="dropdown-item ps-4 ps-md-3"
                    href="#beginner_workshops">Basic Crack Climbing</a>
                </li>
              </ul>
            </li>
            <li class="dropend">
              <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Rappelling</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item ps-4 ps-md-3" href="#rappelling">Basic Rappelling</a>
                </li>
                <li>
                  <a class="dropdown-item ps-4 ps-md-3" href="#rappelling">Australian Rappelling</a>
                </li>
              </ul>
            </li>
            <li class="dropend">
              <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Beginners Sport Climbing</a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    href="#"
                    class="dropdown-item ps-4 ps-md-3"
                    href="#bsc">Top Rope Climbing</a>
                </li>
                <li>
                  <a
                    href="#"
                    class="dropdown-item ps-4 ps-md-3"
                    href="#bsc">Lead Climbing</a>
                </li>
                <li>
                  <a
                    href="#"
                    class="dropdown-item ps-4 ps-md-3"
                    href="#bsc">Belay Workshops</a>
                </li>
              </ul>
            </li>
            <li class="dropend">
              <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Advanced Sport Climbing</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item ps-4 ps-md-3" href="#asc">Multi-pitch Climbing</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#upcoming-events">Upcoming Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#affliations">Affliations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Header -->

<header>

  <div id="hero-carousel" class="carousel slide">

    <div class="carousel-inner">
      <div class="carousel-item active position-relative">
        <img
          src="/img/slider/7.jpg"
          class="w-100 slider-image-md"
          alt="Rapelling workshop">
        <img
          src="/img/slider/9.jpg"
          class="w-100 slider-image-sx"
          alt="Rapelling workshop">
        <div class="hero-text container-xl position-absolute start-0">
          <div class="intro-text">
            {% comment %} <h2 class="intro-heading pb-3 strong">Hyderabad climbers is non-profit rock-loving community, Join us on our next adventure! {% endcomment %}
            <h2 class="intro-heading text-uppercase fw-bolder fs-3">Beginners or Seasoned Pros , Rocks are for everyone!

            </h2>
            <a
              href="#about-us"
              type='button'
              class="btn btn-warning btn-xl">See More</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="/img/slider/8.jpg"
          class="w-100 slider-image-md"
          alt="...">
        <img
          src="/img/slider/13.jpg"
          class="w-100 slider-image-sx"
          alt="Rapelling workshop">
      </div>

    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#hero-carousel"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#hero-carousel"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</header>