.intro-text {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2.5rem
}
.slider-image-md {
  display: block;
}
.slider-image-sx {
  display: none;
}
.hero-text {
  top: 45%
}
.intro-lead-in,
.section-heading {
  font-family: {{ site.data.template.font.primary }};
  font-weight: 600;
}
.card-img-top {
  height: 400px;
}
.intro-heading {

  color: whitesmoke;

  font-family: {{ site.data.template.font.secondary }};

}
section,
footer {
  background-color: #f8f9fa;
}
@media (max-width: 576px) {
  .title {
    width: 100%;
  }
  .slider-image-md {
    display: none;
  }
  .slider-image-sx {
    display: block;
  }
  .intro-lead-in {
    font-size: 2rem;
    color: whitesmoke
  }
  .intro-text {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro-heading {

    text-align: center;
  }

}

#activities::after {
  transform: rotate(-90deg);
}

#activities.show::after {
  transform: rotate(0deg);
}
@media (max-width: 992px) {
  .intro-text {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5rem;
    text-align: center;
  }


}
.dropdown-toggle {
  cursor: pointer;
  color: var(--bs-navbar-color);
}

.dropdown-toggle.show {
  color: var(--bs-dropdown-link-active-color)
}
.dropend .dropdown-toggle::after {

  transform: rotate(90deg);
  margin-left: 1rem
}
.dropdown-item.dropdown-toggle.show:after {
  transform: rotate(0deg);
}
.dropdown-menu {
  border: none;
}


@media (max-width: 992px) {
  .dropdown-item.dropdown-toggle.show:after {
    transform: rotate(90deg);
  }
}