<!DOCTYPE html>
<html>

  {% include head.html %}


    <body
    id="page-top"
    
  {% include header.html %}
  {% include about.html %}
     {% include events.html %}
                         {% include upcoming-events.html %}
                         {%  include affliations.html %}
                         {% include contact.html %}
                         {% include footer.html %}
          {% comment %}                     {% include about.html %}
                            {% include team.html %}
                            {% include clients.html %}
                    {% include modals.html %} {% endcomment %}
    {% include js.html %}

  </body>
</html>